/*
 *      Title Bar
 */


.title-bar {
-webkit-app-region: drag;
height: 32px;
width: -webkit-calc(100% - 110px);
width:    -moz-calc(100% - 110px);
width:      -o-calc(100% - 110px);
width:         calc(100% - 110px);
padding: none !important;
margin: 0px !important;
}

.title-bar-title {
position: fixed;
z-index: 1;
height: 32px;
width: 100%;
padding-top: 5px;
background-color: #495059;
background-attachment: fixed;
color: #f1f1f1;
}

.title-bar-title a {
padding-left: 20px;
}

.title-bar-btns {
-webkit-app-region: no-drag;
position: fixed;
top: 0px;
right: 6px;
z-index: 2;
width: 110px;
}
.title-bar-btns button:focus {
outline: none;
}

.title-bar-btns button {
-webkit-app-region: no-drag;
height: 32px;
width: 32px;
background-color: transparent;
border: none;
color: #F1F1F1;
font-size: 16px;
z-index: 1;
}

.title-bar-btns button:hover {
-webkit-app-region: no-drag;
color: #B58900;
}

/*
 *    Scrollbar
 */

.scrollbar {
overflow-y: scroll;
}
.force-overflow {
min-height: 450px;
}
.scrollbar::-webkit-scrollbar {
width: 10px;
background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-track {
background-color: #222;
}
.scrollbar::-webkit-scrollbar-thumb {
background-color: #495059;
}
